* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.header {
    background-color: rgb(2, 154, 2);
    color: #fff;
    padding: 20px;
}
.header-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.header-container h2 {
    flex-basis: 50%;
}
.header-container ul {
    flex-basis: 40%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header-container ul a {
    text-decoration: none;
    color: #fff;
}

/* main start */


.service_container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}
.service_container .service {
    flex-grow: 1;
    flex-basis: 30%;
    background-color: antiquewhite;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}
.service h6 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.service p {
    margin-bottom: 20px;
    text-align: justify;
}
.service button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(243, 139, 65);
    color: #fff;
}
.services {
    padding: 80px 0;
}
.services h2 {
    text-align: center;
}



.hero {
    min-height: 50vh;
    background-color:aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.hero p {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.hero h2 {
    font-size: 50px;
}



.hero-section {
    background-color: seashell;

}
.hero-section h1 {
    text-align: center;
    padding: 20px;
}
.hero-section p {
    max-width: 1000px;
    margin: 0 auto;   
    text-align: justify;
    font-weight: 400;
}
/* main end */

/* Footer start */

footer {
    color: rgb(2, 154, 2);
    background-color: aliceblue;
    margin-top: 10px;
    padding: 10px;
}
footer p {
    text-align: center;
}
footer span {
    color: red;
    font-weight: 400;
}
/* Footer End */

/* media quary */
@media only screen and (max-width: 600px) {
    .header-container {
        flex-direction: column;
    }

    .header-container ul li {
        padding: 10px;
    }

  }

  @media only screen and (max-width: 400px) {
    .header-container ul {
        flex-direction: column;
        text-align: center;
    }

  }